.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
  max-width: 500px;
}

.App-header {
  background-color: white;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding: 20px;
}

.App-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  max-width: 500px;
  padding-top: 40px;
  margin: 0 auto;
}

.App-nav li {
  margin-right: 10px;
  font-size: 18px;
}

.App-link {
  color: #f2522a;
}

.App-link:hover,
.App-link--active {
  color: #636466;
}

.App-nav li:last-child {
  margin-right: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
